<div class='jumbotron-1'>

      <h1>WELCOME</h1>
      <h4> Latest Bill </h2>
      <h3>due on: <%= @bill.statement["due"] %></h3>
      <h3>Your latest bill is now ready</h3>
      <h2> Total: £<%= @bill.total %><h3>
      <a href="/bill"> Details </a>
</div>